@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: #dad7e7;
    min-width: 900px;
    font-family: "Quicksand";
    font-size: 18px;
    margin: 0px;
}

.header {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    /* position: sticky; */
    /* top: 0px; */
    width: 75%;
    margin-left: 12.5%;
  }
  
  .divider {
    /* border: 2px solid #7E9273; */
    border: 2px solid #404050;
    border-radius: 8px;
    width: 75%;
    /* margin: auto; */
    min-width: 600px;
    margin-top: 0px;
  }
  
  .nav-logo {
    font-size: 30px;
    text-decoration: none;
    margin-left: 20px;
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .nav-logo p {
    font-size: 22px;
    margin-left: 10px;
    font-weight: bold;
  }
  
  .nav-logo p:hover {
    transform: rotate(4deg);
    transition: 0.3s;
  }
  
  .nav-logo a {
    color: #404050;
    text-decoration: none;
  }
  
  .nav-logo a:visited {
    color: #404050;
    align-items: center;
  }
  
  .logo-icon {
    display: flex;
    align-items: center;
  }
  
  #logo {
    width: 50px;
    filter: drop-shadow(0 0 0 rgba(0, 0, 0));
  }
  
  #logo:hover {
    color: #968cb1;
    text-decoration: none;
    cursor: pointer;
    transform: rotate(360deg);
    transition: 0.4s;
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .navbar ul {
    display: flex;
    list-style-type: none;
    margin: 2px 0px;
    overflow: hidden;
    display: inline-block;
    margin-top: 5px;
    margin-right: 2rem;
  }
  
  .navbar a {
    text-decoration: none;
    display: block;
    cursor: pointer;
    text-align: center;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 18px;
    transition: 0.3s;
    color: #212333;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #6c7199;
    transition: 0.3s;
    transform: rotate(4deg);
  }
  
  .navbar li {
    z-index: 100;
    float: left;
    margin-right: 1.25rem;
    align-items: center;
  }
  
  .nav-icons {
    display: flex;
  }
  
  .nav-icons img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 25px;
    transition: 0.3s;
  }
  
  .nav-icons img:hover {
    opacity: 0.6;
    transition: 0.3s;
    transform: rotate(-6deg);
  }
  
  .search {
    position: fixed;
    top: -160%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: hsla(230, 12%, 96%, 0.6);
    backdrop-filter: blur(8px);
    padding: 8rem 1.5rem;
    transition: top 0.4s;
  }
  
  .search form {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    border: 1px solid rgb(156, 156, 156);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: hsla(230, 12%, 96%, 0.8);
    max-width: 600px;
    border-radius: 30px;
  }
  
  .search input {
    padding-left: 30px;
    border: none;
    font-size: 18px;
    font-family: "Quicksand";
    width: 100%;
    background-color: transparent;
    padding-block: 1rem;
    border-radius: 30px;
  }
  
  .search input:focus {
    outline: none;
  }
  
  .search img {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

.row {
  align-items: center;
  padding: 10px 20px;
}

.result-box{
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: auto; 
  margin-right: auto;
  column-gap: 0.5rem;
}

.result-box ul{
  width: 100%;
  /* max-width: 600px; */
  margin-left: 30%;
  margin-right: 30%;
  align-items: center;
  border-top: 1px solid #999;
  position: relative;
  padding: 15px 10px;
  text-align: center;
}

.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover{
  background: #e9f3ff;
}

.close-img {
  display: block;
  margin-left: 80%;
  margin-right: auto;  
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin-bottom: 50px;
}

.submit-button {
  border: none;
  padding: 15px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 30px;
  background-color: transparent;
}

.show-search {
  top: -5%;
}

.banner {
  height: 400px;
  text-align: center;
  margin: auto;
}
