html {
  /* background-color: #8EA480; */
  background-color: #dad7e7;  
  min-width: 900px;
  font-family: "Mali";
}

body {
margin: 0px;
}

.webpage {
  /* background-color: #fcedcc; */
  background-color: #2b2d42;
  text-align: center;
  height: 1000px;
}

.book-gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  /* the percent in the margin, changes how high or low the gallery starts from the top, the second percent changed left right margin*/
  margin: 3% auto;

}

.carousel-title {
  color: hsla(240, 10%, 96%, 0.719);
}

.book-gallery-wrap div{
  /* changes the size of the gallery-wrap div */
  /*FIXME: work on fixing the size of the book carousel */ 
  width: 70%;
  padding: auto;
  display: flex;
}

.book-gallery {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.book-gallery div {
  /* width controls the size of the individual sets of 3 book covers */
  width: 100%;
  display: grid;
  /* modified repeat to 7, which i think is displaying 7 items at once all the time  */
  /* This fixed the resizing error   */
  /* 165px helps display only 7 covers at a time at full screen  */
  grid-template-columns: repeat(7, minmax(165px, 2fr));
  grid-gap: 20px;
  /* adds padding between each div of spans */
  padding: 30px;
  /* i think flex does something to the size */
  /* flex: none; */
}

.book-gallery div span {
  flex: 0 0 auto;
}

.book-gallery div img{
  width: 100%;
  height: 90%;
  /*prevents strt of an image if it is too small or big*/
  object-fit: cover;
  border: 1px solid #cecece;
  border-radius: 7px;
  margin: 12px;
  transform: scale(1.0);
  transition: 0.3s;
}

.book-gallery div img:hover{
  transform: scale(1.1);
  transition: 0.3s;
  outline: none;
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(255, 255, 255);
  cursor: pointer;
}

.book-gallery::-webkit-scrollbar{
  display: none;
}

#leftButton, #rightButton {
  width: 40px;
  cursor: pointer;
  margin: 40px;
  filter: brightness(0) invert(1);
}

.book-gallery-wrap img:hover{
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}
