html {
  /* background-color: #8EA480; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #E8DAB9;  
  min-width: 850px;
}

.webpage {
    /* background-color: #ECECEC; */
    /* height: 600px; */
}

.header {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.header input {
  height: 20px;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 15%;
  font-family: 'Gaegu', sans-serif;
}

.header input[type=text] {
  margin-left: 5px;
}

hr {
    border: 2px solid #7E9273;
    border-radius: 8px;
    width: 75%;
    min-width: 600px;
    margin-top: 0px;
}

body {
  margin: 0px;
}

.navbar {
  flex: 1;
  margin-left: 15%;

}

.navbar ul {
  display: flex;
  list-style-type: none;
  /* background-color: hsl(29, 83%, 61%); */
  /* align-items: center; */
  margin: 2px 10px;
  padding: 0px;
  overflow: hidden;
  display: inline-block;
  margin-top: 5px;
  /* margin-right: 60px; */
}

.navbar li {
  float: left;
  margin-right: 30px;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  display: block;
  cursor: pointer;
  text-align: center;
  padding: 8px 15px;
  border-radius: 4px;
  font-size: 24px;
  font-family: 'Gaegu', sans-serif;
  transition: 0.3s;
  color: #3D4737;
}

.navbar a:visited {
  color: #3D4737;
}

.navbar a:hover {
  background-color: #a7956b;
  color: white;
}

.navbar li:hover {
  /* border-bottom: 3px solid white; */
}

.nav-button {
  display: flex;
}

.banner {
  height: 350px;
  text-align: center;
  margin: auto;
}

.webpage {
  background-color: #C0B292;
  text-align: center;
  height: 700px;
}
