html {
  /* background-color: #8EA480; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff7e6;  
  min-width: 940px;
}

body {
margin: 0px;
}

.header {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.nav-logo {
  font-size: 30px;
  text-decoration: none;
  margin-left: 15%;
  flex: 1;
  margin-top: 5px;
  margin-right: 0px;
  color: #596950;
  padding: 5px;
}

.nav-logo a{
  text-decoration: none;
  padding: 5px;
}

.nav-logo a:visited {
  color: #596950;
  align-items: center;
}

#logo {
  padding: 5px;
}

#logo:hover {
  color: #99b18c;
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  margin-right: 2%;
  margin-left: 20px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 2px 0px;
  padding: 0px;
  overflow: hidden;
  display: inline-block;
  margin-top: 5px;
}

.navbar a {
  text-decoration: none;
  display: block;
  cursor: pointer;
  text-align: center;
  padding: 8px 15px;
  border-radius: 4px;
  font-size: 24px;
  font-family: 'Gaegu', sans-serif;
  transition: 0.3s;
  color: #3f3f3f;
}

.navbar a:hover {
  color: #7d8d7b;
  transform: rotate(4deg);
}

.navbar li {
  float: left;
  margin-right: 30px;
  align-items: center;
}

.header input {
  height: 20px;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 15%;
  padding: 6px 14px;
  font-size: 18px;
  font-family: 'Gaegu', sans-serif;
  width: 200px;
}

.header input[type=text] {
  margin-left: 5px;
}

.search {
  margin-right: 15%;
  display: flex;
}

.divider {
  border: 2px solid #7E9273;
  border-radius: 8px;
  width: 75%;
  min-width: 600px;
  margin-top: 0px;
}

.banner {
  height: 400px;
  text-align: center;
  margin: auto;
}

.webpage {
  background-color: #fcedcc;
  text-align: center;
  height: 700px;
}

.book-gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  /* the percent in the margin, changes how high or low the gallery starts from the top, the second percent changed left right margin*/
  margin: 3% auto;

}

.book-gallery-wrap div{
  /* changes the size of the gallery-wrap div */
  /*FIXME: work on fixing the size of the book carousel */ 
  width: 70%;
  display: flex;
}

.book-gallery {
  display: flex;
  overflow-x: scroll;
}

.book-gallery div {
  /* width controls the size of the individual sets of 3 book covers */
  width: 100%;
  display: grid;
  /* grid-template-columns: auto auto auto auto auto; */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
  padding: 15px;
  flex: none;
}

.book-gallery div img{
  width: 100%;
  height: 90%;
  /*prevents strt of an image if it is too small or big*/
  object-fit: cover;
  border: .5px solid #3f3f3f;
  border-radius: 7px;
  margin: 12px;
  transform: scale(1.0);
  transition: 0.3s;
}

.book-gallery div img:hover{
  transform: scale(1.1);
  transition: 0.3s;
  outline: none;
  border-color: black;
  box-shadow: 0 0 10px black;
  cursor: pointer;
}

.book-gallery::-webkit-scrollbar{
  /* display: none; */
}

#leftButton, #rightButton {
  width: 40px;
  cursor: pointer;
  margin: 40px;
}

.book-gallery-wrap img:hover{
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}
