.output {
    width: 500px;
    margin-left: 30%;
    margin-top: 70px;
}

.book-container {
    display: flex;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px;
}

.book-container img {
    width: 70px;
}

.book-title {
    font-size: 18px;
    margin: 0px 10px;
    font-weight: bold;
}

.book-author {
    font-size: 14px;
    margin: 1px 10px;
}

hr {
    border: 0.8px solid #8383a0;
    border-radius: 10px;
}